body {
  font-family: "Archivo", sans-serif;
  color: #fff;
  font-size: 24px;
  background-color: #161616;
}

section {
  padding: 10px 20px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  color: rgb(164, 164, 164);
  font-size: 1.5rem;
}

.navbar-brand {
  font-size: 1.6rem;
  font-weight: 600;
}

/* Custom Accordion Theme */
.accordion {
  --bs-accordion-bg: rgb(85, 85, 85); /* Accordion body and background */
  --bs-accordion-border-color: #333;
  --bs-accordion-border-radius: 0;
  --bs-accordion-border-width: 0;
}

.accordion-item {
  border-radius: 0 !important;
  background-color: var(--bs-accordion-bg);
  border: 1px solid var(--bs-accordion-border-color);
}

.accordion-button {
  color: #fff; /* Text color of the button */
  background-color: var(--bs-accordion-bg); /* Background of the button */
}

.accordion-button:not(.collapsed) {
  color: #fff; /* Text color when the button is open */
  background-color: #404040; /* Slightly darker background when open */
  box-shadow: none;
}

.accordion-button:focus {
  border-color: #fff;
  box-shadow: none;
}

/* Custom Buttons */

.btn-primary {
  background-color: #d8d8d8;
  color: black;
  border: none;
}

.btn-primary:hover {
  background-color: #b3b3b3;
  color: black;
}

/* Custom IDs */

#Backdrop {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.59) 0%,
      rgba(0, 0, 0, 0.59) 100%
    ),
    url("../img/home-backdrop.webp");
  background-size: cover;
}

#ReadySection {
  background-color: #161616;
}

#ReadySection .text-group {
  padding: 50px 0;
}

#ReadySection img {
  width: 100%;
}

#PracticeAreas {
  background-color: rgb(110, 110, 110);
}

#PracticeAreas p {
  color: white;
}

/* Custom Classes */

.text-group {
  padding: 100px 0;
}

footer p {
  font-size: 1rem;
}

#AboutKelefas {
  margin-top: 100px;
}

label.error {
  color: red;
  font-size: 1.2rem;
}

#Practice {
  margin-top: 100px;
}
